h1 {
    color: #0170FF;
}

a {
    color: #FF0101;
}

li {
}

.content {
    padding: 20px;
    margin: 10px;
    font-style: italic;
    background-color: #424EDC;
    color: #ffffff;
}

.active {
}

.footer {
}

